.h3 {
    font-size: 20px;
    text-align: center;
}

.marquee {
    font-size: x-large;
    font: bold;
}

.burguers {
    text-align: center;
}

.login {
    text-align: center;
}

.logoAV {
display: flex;
margin-left: 50%;
}